@font-face {
    font-family: GameFont;
    src: url("Rajdhani-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: GameFont;
    src: url("Rajdhani-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: GameFont;
    src: url("Rajdhani-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: GameFont;
    src: url("Rajdhani-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: GameFont;
    src: url("Rajdhani-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
